<a href="https://colab.research.google.com/github/FranciscoLaurentino/projetos/blob/main/PythonexErcicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pip instalados:emoji

Desafio 1

In [ ]:
print('hello world')

hello world

Desafio 2

In [ ]:
dia = input('Em que dia você nasceu?: ')
mes = input('Em que mês você nasceu?: ')
ano = input('Em que ano você nasceu?:')

print(f'{dia}/{mes}/{ano}')

Em que dia você nasceu?: 02
Em que mês você nasceu?: 10
Em que ano você nasceu?:1999
02/10/1999

Desafio 3

In [ ]:
num1 = int(input('Digite um número: '))
num2 = int(input('Digite outro número'))

print(f'A soma entre {num1} e {num2} vale: {num1 + num2}')

Digite um número: 4
Digite outro número2
A soma entre 4 e 2 vale: 6

Desafio 4

In [ ]:
algo = input('Digite algo: ')

print(type(algo))
print(algo.isnumeric)

Digite algo: 3
<class 'str'>
<built-in method isnumeric of str object at 0xb2c0d0>

Desafio 5

In [ ]:

print(f'{'Desafio 5':=^20}\n')

num1 = int(input('Digite um número: '))
num0 = num1 - 1
num2 = num1 +1

print(f'O sucessor de {num1} é o número {num2}')
print(f'O antecessor de {num1} é o número {num0}')

=====Desafio 5======

Digite um número: 7
O sucessor de 7 é o número 8
O antecessor de 7 é o número 6

Desafio 6

In [ ]:
print(f'{'Desafio 6':=^20}\n')

num = int(input('Digite um número: '))

print(f'o dobro no número {num} e {num * 2}, o triplo e {num * 3} e sua raiz e igual a {num ** (1/2)}')

=====Desafio 6======

Digite um número: 7
o dobro no número 7 e 14, o triplo e 21 e sua raiz e igual a 2.6457513110645907

Desafio 7

In [ ]:
print(f'{' Desafio 7 ':=^20}\n')

nota1 = float(input('Primeira nota: '))
nota2 = float(input('Segunda nota: '))

print(f'A media das notas do aluno foi igual a {(nota1 + nota2)/2}')

==== Desafio 7 =====

Primeira nota: 7
Segunda nota: 6
A media das notas do aluno foi igual a 6.5

Desafio 8

In [ ]:
print(f'{' Desafio 8 ':=^20}\n''Conversor de medidas\n')

m = float(input('Quantos metros: '))

km = m / 1000
hm = m / 100
dam = m /10

dm = m * 10
cm = m * 100
mm = m * 1000

print(f'Metros(m) convertidos para quilômetros(km) = {km}km')
print(f'Metros(m) convertidos para hectômetro(hm) = {hm}hm')
print(f'Metros(m) convertidos para decâmetro(dam) = {dam}dam')
print(f'Metros(m) convertidos para decímetro(km) = {dm}dm')
print(f'Metros(m) convertidos para centímetro(cm) = {cm}cm')
print(f'Metros(m) convertidos para milímetro(mm) = {mm}mm')

==== Desafio 8 =====
Conversor de medidas

Quantos metros: 59
Metros(m) convertidos para quilômetros(km) = 0.059km
Metros(m) convertidos para hectômetro(hm) = 0.59hm
Metros(m) convertidos para decâmetro(dam) = 5.9dam
Metros(m) convertidos para decímetro(km) = 590.0dm
Metros(m) convertidos para centímetro(cm) = 5900.0cm
Metros(m) convertidos para milímetro(mm) = 59000.0mm

Desafio 9

In [ ]:
print(f'{' Desafio 9 ':=^20}')
print(f'{' Tabuada ':=^20}\n')

num1 = int(input('Digite um número: '))

for x in range(0,11):
  print(f'{num1} X {x} = {num1 * x}')

==== Desafio 6 =====
===== Tabuada ======

Digite um número: 8
8 X 0 = 0
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

Desafio 10

In [ ]:
print(f'{' Desafio 10 ':=^20}')
print('coversor de moeda para dolar \n')

real = float(input('Quanto você tem?: '))
dolar = real / 5.37

print(f'R${real} equivale a U${dolar:.2f}')

==== Desafio 9 =====
coversor de moeda para dolar

Quanto você tem?: 8
8.0R$ equivale a 1.49U$

Desafio 11

In [ ]:
print(f'{' Desafio 11 ':=^20}\n')


altura = float(input('Altura: '))
largura = float(input('Laurgura: '))

cubo = altura * largura
print(f'{cubo}m² precisa de {cubo / 2} baldes de tinta')

==== Desafio 10 ====

Altura: 7
Laurgura: 4
28.0m² precisa de 14.0 baldes de tinta

Desafio 12

In [ ]:
print(f'{' Desafio 12 ':=^20}')
print ('Desconto de 5% em todos os itens\n')

preco = float(input('Digie o preço do item: '))
desconto = preco * 0.05
prec_fim = preco - desconto

print(f'Preço com desconto igual a R${prec_fim:.2f}')



29

==== Desafio 12 ====
Desconto de 5% em todos os itens

Digie o preço do item: 29.99
Preço com desconto igual a 28.49R$

Desafio 13

In [ ]:
print(f'{' Desafio 13 ':=^20}')
print('Almento de 15% de salário\n')

salario = float(input('Digite o seu salário: '))
aumento = salario * 0.15
novo_salario = salario + aumento

print(f'Novo salário de R${novo_salario:.2f} por mês')

==== Desafio 13 ====
Almento de 15% de salário

Digite o seu salário: 5896.16
Novo salário de 6780.584R$ por mês

Desafio 14

In [ ]:
print(f'{' Desafio 14 ':=^20}')
print('Conversor de temperatura')

c = float(input('Digite a temperatura em celsius: '))

f = print(f'{c}cº é {c * 1.8 + 32}fº')


k = print(f'{c}cº é {c + 273.15}kº')

==== Desafio 14 ====
Conversor de temperatura
Digite a temperatura em celsius40
40.0cº é 104.0fº
40.0cº é 313.15kº

Desafio 15

In [ ]:
print(f'{' Desafio 15 ':=^20}')
print('Aluguel do carro\n')

km = float(input("Quilômetros rodados: "))
dia = int(input('Dias alugados: '))

vkm = km * 0.15
vdia = dia * 60

vtotal = vdia + vkm

print(f'Valor a pagar : R${vtotal:.2f}')

==== Desafio 15 ====
Aluguel do carro

Quilômetros rodados: 4
Dias alugados: 4
Valor a pagar : R$240.60

Desafio 16

In [ ]:
from math import trunc
print(f'{' Desafio 16 ':=^20}\n')

num = float(input('Digite um número: '))
cut = trunc(num)

print(f'O número {num} tem a sua parte inteira igaul a {cut}')

==== Desafio 16 ====

Digite um número: 484848.4846516
O número 484848.4846516 tem a sua parte inteira igaul a 484848

Desafio 17

In [ ]:
print(f'{' Desafio 17 ':=^20}\n')

a = float(input("Digite a largura do cateto adjacente: "))
b = float(input("Digite a largura do cateto oposto: "))

c = (a**2 + b**2) ** (1/2)

print(f'A largura da hipotenusa é igual a {c}')

==== Desafio 17 ====

Digite a largura do cateto adjacente: 7
Digite a largura do cateto oposto: 24
25.0

Desafio 18

In [ ]:
import math
print(f'{' Desafio 18 ':=^20}\n')

graus = int(input('Diga um ângulo: '))

radianos = math.radians(graus)

tan = math.tan(radianos)
cos = math.cos(radianos)
sen = math.sin(radianos)


print(f'\nTamgente: {tan:.2f}\nCosseno: {cos:.2f}\nSeno: {sen:.3f}')

==== Desafio 18 ====

Diga um ângulo: 45

Tamgente: 1.00
Cosseno: 0.71
Seno: 0.707

Desafio 19

In [ ]:
from random import randint
from time import sleep
print(f'{' Desafio 19 ':=^20}\n')

cont = 0

alunos = ['Ana','Livia','Andre','Joaquim']

print(alunos)

while cont < 3:
  print('.',end='')
  sleep(1)
  cont = cont + 1
  print('.',end='')
  sleep(1)
  cont = cont + 1
  print('.')
  sleep(1)
  cont = cont + 1

sorteado = randint(0,3)

print(f'Aluno sorteado: {alunos[sorteado]}')

==== Desafio 19 ====

['Ana', 'Livia', 'Andre', 'Joaquim']
...
Aluno sorteado: Ana